h3 {
  font-size:1.3em
}
.headmast{
  text-align:center
}
.cards{
  margin:10px 0;height:25px
}
.cards li{
  display:block;float:left
}
.card{
  float:left;width:39px;height:25px;text-indent:-9999px;background-position:0 0;margin-right:4px
}
#submitform{
  margin-left:10px
}
.card.cdisabled{
  background-position:0 -25px;opacity:.3
}
.card.visa{
  background-image:url(../img/card-visa.gif)
}
.card.amex{
  background-image:url(../img/card-amex.gif)
}
.card.jcb{
  background-image:url(../img/card-jcb.gif)
}
.card.master{
  background-image:url(../img/card-mastercard.gif)
}
.card.discover{
  background-image:url(../img/card-discover.gif)
}
.card.diners_club{
  background-image:url(../img/card-diners.gif)
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
